body{
  margin:0px;
  text-align: center;
  font-family: 'Merriweather',serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  color: #66BFBF;
  font-size:2.5rem;
  font weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
hr{
  width: 5%;
  border:5px dotted ;
  border-bottom: none;
  color:#DFDFDE;
  margin: 100px auto;
}

.top{
  background-color: #BDF2D5;
  position: relative;
  padding-top: 100px;

}
.middle{
    margin: 100px 0px;

}
.bottom{
  background-color: #66BFBF;
  margin-top: 100px;
  padding: 50px 0 20px;
}
.bottom_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.top_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
span{
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
   text-align: left;


}
.pr_img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill_img{
  width:25%;
  float: right;
  margin-left:  30px;
}
p{
    line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 50px 0px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px auto;
}
